<head></head>
<body>
<div class='container'>
	<div class="jumbotron">
	  <center><img src=''>
	  <br><br><br>
	  <p>Find the New Yorker's 30 most popular headlines with the click of a button.</p>
	  <p><a class="btn btn-primary btn-lg" id='mainButton' role="button">Enjoy.</a></p></center>
	</div>
	<div class='row' id='articles'>
	</div>
</div>
</body>